*{
    margin: 0;
    padding: 0;
}

/* common css start */ 


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.headingtext{
    font-weight: 700;
    font-size: 70px;
    color: black;
}

.buttondesign{
    padding: 25px 25px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color:orange;
    border-radius:10px;
    border: none;
    margin-bottom: 30px;
    margin-top: 50px;
}
/* common css end */ 

.navbar{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
    align-items: center;
}

.navlink{
    display: flex;
}

.navlink li{
    list-style: none;
    margin-right: 30px;
}

.navlink li a{
    text-decoration: none;
    font-weight: 500;
}

.banner{
    background-color: bisque;
    height: 1300px;
}

.brandlogo{
    font-weight: 700;
    font-size: 3rem;
}

.bannerinfo{
    max-width: 1440px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.banner-image{
    width: 100%;
}

.bannerinfo p{
    margin-top: 30px;
}

/* responsive media query */

 
@media screen and (max-width: 576px){

    .navbar,.navlink{
        display: flex;
        flex-direction: column;}
    
}


